In [69]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/all_data_frame.csv', low_memory=False)
df = df = df[df['Price'].notna()]
df = df.drop_duplicates()

In [70]:
def keep_digits(column, type_of_digit=float):
        df[column] = df[column].str.extract('(\d+)').astype(type_of_digit).fillna(0)

keep_digits('Living area', float)
keep_digits('Surface of the plot', float)
keep_digits('Garden surface', float)
keep_digits('Terrace surface', float)


df[['Living area','Surface of the plot','Garden surface','Terrace surface']]

       Living area  Surface of the plot  Garden surface  Terrace surface
0            122.0                335.0           171.0             20.0
1            119.0                 49.0             0.0              0.0
2            200.0                300.0           200.0             12.0
3            404.0               1000.0          1000.0             52.0
4            350.0                263.0           140.0              0.0
...            ...                  ...             ...              ...
18474        126.0                  0.0             0.0              0.0
18475         84.0                  0.0             0.0              6.0
18476         80.0                  0.0             0.0             18.0
18477         90.0                  0.0             0.0              9.0
18478        146.0                  0.0            39.0              0.0

[16771 rows x 4 columns]

In [71]:
df['Price'] = df['Price'].str.extract('(\d+,\d+)')
df['Price'] = df['Price'].str.replace(',','').astype(float)

In [75]:
df['Building condition'] = df['Building condition'].map({'Good': 0.5, 'To renovate': 0.5, 'As new': 1, 'To be done up': 1, 
'Just renovated': 0.75, 'To restore':0 })
df['Building condition'] = df['Building condition'].fillna(0)


df['Number of frontages'] = df['Number of frontages'].fillna(1)			
df['Living area'] = df['Living area'].fillna(0)
df['Kitchen type']= df['Kitchen type'].map({'Semi equipped': 0.5, 'USA installed': 0.75, 'Installed': 0.75, 'Hyper equipped': 1.0, 'Not installed': 0.0, 
'USA semi equipped': 0.5, 'USA hyper equipped': 1.0,  'USA uninstalled': 0.75})		
df['Kitchen type'] = df['Kitchen type'].fillna(0)
df['Bedrooms'] = df['Bedrooms'].fillna(0)

df['Furnished'] = df['Furnished'].map({'Yes': 1, 'No': 0})
df['Furnished'] = df['Furnished'].fillna(0)



df['Surface of the plot'] = df['Surface of the plot'].fillna(0)
df['Garden surface'] = df['Garden surface'].fillna(0)
df['Terrace surface'] = df['Terrace surface'].fillna(0)
df['Swimming pool'] = df['Swimming pool'].map({'Yes': 1, 'No': 0})
df['Swimming pool'] = df['Swimming pool'].fillna(0)

df['Terrace'] = df['Terrace'].map({'Yes': 1, 'No': 0})
df['Terrace'] = df['Terrace'].fillna(0)


df['Garden'] = df['Garden'].map({'Yes': 1, 'No': 0})
df['Garden'] = df['Garden'].fillna(0)


used_columns = """url
type_of_property
subtype_of_property
Price
locality
zip_code
Construction year
Building condition
Number of frontages
Living area
Kitchen type
Bedrooms
Furnished
Surface of the plot
Garden surface
Terrace surface
Swimming pool
type_of_sale
Terrace
Garden"""
used_columns= used_columns.splitlines()
cleaned_df = df[used_columns].copy()
cleaned_df.isna().sum()
cleaned_df.duplicated().sum()

0

In [80]:
cleaned_df.reset_index(drop=True, inplace=True)
cleaned_df.to_csv("../data/clean_data.csv", header=True)